.myPadding{
    -fx-padding: 5px, 5px, 5px, 5px;
}

.myMargin{
    -fx-margin: 10px, 10px, 10px, 10px;
}

.valid{
    -fx-background-color: yellowgreen;
}

.invalid{
    -fx-background-color: tomato;
}